main{

    background-color:black;
    color:white;
    font-size:1.7rem;
    font-family: 'Exo', sans-serif;
    padding:20px;
    height:60vh;
}
main ul {
    padding-left: 2rem;
    list-style-type: none;
  }
  
  main ul li {
    padding-left: 2rem;
    background-image: url("../images/clapper.jpg");
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
  }
  .icons{
      width:2.1rem;
  }
  header ul {
    list-style:none;
}
#cont{
  display:grid;
  grid-template-rows: 450px;
  grid-template-columns: repeat(2,1fr);
}
@media (max-width:700px){
  #cont{
    display:grid;
    grid-template-areas: 
    "d"
    "m";
  }
  #detali{
    grid-area: d;
    margin:0;
  }
  #mapa{
    grid-area:m;
    margin:0;
  }
  main{
    height:100%;
  }
}